* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}


:root {
    --bg-liner-1: #383638 2.06%;
    --bg-liner-2: #0b0b0b 33.08%;
    --white: #fff;
    --nav-link: #8b8e99;
    --input-pl: #8b8e99b2;
    --bg-search: #3858d6;
    --card-c: #1e1d1d;
    --bg-card: #f6f6f6;
    --black: #000;
    --bg-corusel: #d9d9d9;
    --bg-footer: #0b0b0b;
    --bg-like: #ff6b6b;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

button {
    transition: 0.5s;
}


button:hover {
    transform: scale(1.1);
}

a:hover {
    transform: scale(1.1);
}

img {
    transition: 0.5s;
}

img:hover {
    transform: scale(1.05);
}

/* header start */

.navbar-shrink {
    background-color: var(--bg-footer);
    padding: 20px 0;
}

header {
    position: fixed;
    top: 0;
    /* background-color: transparent; */
    width: 100%;
    z-index: 11;
    transition: 0.5s;
    background-color: var(--card-c);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-brand {
    display: flex;
    align-items: center;
}

.nav-brand__box {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

#humburger {
    display: none;
}

#humburger svg {
    fill: var(--bg-corusel);
    
}

.brand-name {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

#navbar-bootom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 295px);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 17px 27px;
    flex-wrap: wrap ; 
    justify-content: center;
    
}

.nav-item__link {
    color: var(--nav-link);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar-search {
    display: flex;
    align-items: center;
    padding: 5px;
    overflow: hidden;
    width: 33px;
    transition: 0.5s;
}

.navbar-input {
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--bg-corusel) !important;
    transition: 0.4s;
}


.navbar-input::placeholder {
    color: var(--bg-corusel);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.navbar-button {
    background-color: transparent;
    border: none;
    width: 21px;
}

.navbar-search .navbar-input {
    width: 100px;
}

.navbar-search:hover {
    width: 121px;
}

header:hover .navbar-search {
    border: 1px solid var(--bg-corusel);
    border-radius: 5px;
}



/* dropdown */

.nav-item:nth-child(2) {
    position: relative;
    padding: 25px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-item__drop {
    position: absolute;
    right: -16px;
    top: 31px;
    display: none;
    cursor: pointer;
    transition: all 0.5s;

}

nav:hover .nav-item__drop {
    display: inline-block;
}

.nav-list:hover .nav-item__drop {
    transform: rotate(360deg);
}

.nav-item:nth-child(2):hover .nav-item__drop {
    transform: rotate(540deg);
}

.nav-item:nth-child(2):hover .brand-drop {
    display: inline-block;
}

.brand-drop {
    position: absolute;
    top: 60px;
    left: -10px;
    transition: 0.5s;
    display: none;
    padding: 15px;
    background-color: var(--card-c);
    border-radius: 5px;
    border: 2px dotted var(--nav-link);
}

.brand-drop__item {
    padding: 10px 5px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: all 0.5s;
}

.brand-drop__item:hover {
    border-color: var(--white);
    background-color: var(--nav-link);
}

.brand-drop__link {
    color: var(--bg-corusel);
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.brand-drop__item:hover .brand-drop__link {
    color: var(--white);
}




/* hero start */

#hero {
    padding-top: 76px;
    padding: 102px 0 147px;
    background: linear-gradient(155.28deg, var(--bg-liner-1), var(--bg-liner-2));
}

.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-main {
    max-width: 457px;
}

.hero-title {
    color: var(--white);
    font-size: 64px;
    font-weight: 700;
    line-height: 80.32px;
}

.hero-text {
    color: var(--nav-link);
    font-size: 16px;
    font-weight: 500;
    line-height: 20.08px;
    margin: 40px 0 47px;
}

#input-search {
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 16px;
    background-color: var(--white);
    border-radius: 15px;
    padding: 7px 9px 8px 19px;
}

#form-search {
    transition: 0.5s;
}

.form-search {
    transform: scale(1.1);
}

.hero-input {
    width: 100%;
    outline: none;
    border: none;
    padding: 12px 0;
    color: var(--card-c);
    font-size: 16px;
    font-weight: 500;
    line-height: 20.08px;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}

.hero-input::placeholder {
    color: var(--input-pl);
    font-size: 16px;
    font-weight: 500;
    line-height: 20.08px;
}

.hero-input:focus {
    border-bottom: 2px solid var(--input-pl);
}

.hero-button:hover {
    box-shadow: inset 112px 0 5px var(--bg-like);
    transition: 0.8s;
}

.hero-button {
    width: 112px;
    height: 45px;
    border: none;
    border-radius: 9px;
    background-color: var(--bg-search);
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    line-height: 22.59px;
    text-align: center;
}

/* brand start */

#brands {
    font-family: "Inter", sans-serif;
    padding: 386px 0 135px;
}

.brands-cards {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.brands-card__image img {
    width: 84px;
}

.bands-card {
    display: flex;
    align-items: center;
    padding: 46px 29px 44px 41px;
    width: 354px;
    background-color: var(--bg-card);
    border-radius: 22px;
    gap: 26px;
    transition: 0.5s;
}

.bands-card:hover {
    transform: scale(1.1);
}

.bands-card img {
    width: 85px;
}

.brands-card__title {
    color: var(--card-c);
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
}

.brands-card__text {
    color: var(--nav-link);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
}

/* Product start */

#Product {
    padding-bottom: 135px;
}

.product-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px;
}

.product-top {
    font-family: "Inter", sans-serif;
    text-align: center;
}

.product-top__link {
    color: var(--bg-search);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
}

.product-top__title {
    color: var(--card-c);
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
}

.product-cards {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 64px 45px;
    padding-bottom: 69px;
}

.product-card {
    width: 334px;
    text-align: center;
    transition: 0.5s;
}

.product-card:hover {
    transform: scale(1.1);
}

.product-card__images {
    position: relative;
    background-color: var(--bg-card);
    padding: 28px 42px 27.5px;
}

.product-card__images a svg {
    fill: var(--white);
    stroke: var(--white);
}

.product-korzinka,
.product-like {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 38px;
    height: 38px;
    padding: 9px 7px 9px 4px;
    background-color: var(--bg-search);
    border-radius: 50%;
    z-index: 2;
}

.product-like {
    background-color: var(--bg-like);
    padding: 9px 7px;
    z-index: 1;
}

.product-card__images:hover .product-like {
    transform: translateY(56px);
}

.product-like:hover {
    background-color: var(--bg-corusel);
}

.product-like:hover svg {
    fill: var(--bg-like);
    stroke: var(--bg-like);
}

.product-korzinka:hover {
    background-color: var(--bg-corusel);
}

.product-korzinka:hover svg {
    stroke: var(--bg-search);
    fill: var(--bg-search);
}

.product-card__main {
    margin: 10px 0 7px;
}

.product-card__title {
    color: var(--card-c);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.product-card__text del {
    position: relative;
    top: 10px;
    color: var(--nav-link);
    font-size: 20px;
    font-weight: 500;
    line-height: 24.1px;
}

.product-card__text span {
    color: var(--black);
    font-size: 24px;
    font-weight: 600;
    line-height: 28.92px;
}

.product-link {
    border-radius: 15px;
    padding: 10px 50px;
    background-color: var(--bg-search);
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: var(--white);

}

.product-link:hover {
    box-shadow: inset calc(197px/ 2) 5px 5px var(--bg-like), inset calc(-197px / 2) 5px 5px var(--bg-like);
}

#about {
    font-family: "Inter", sans-serif;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 59px;
}

.about-top {
    text-align: center;
}

.about-top__text {
    color: var(--bg-search);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
}

.about-top___title {
    color: var(--card-c);
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
}

.owl-theme .owl-nav {
    display: none;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
    margin-top: 41.3px;
}

.about-carusel__item {
    display: flex;
    align-items: center;
    gap: 29px;
    padding: 29.5px 33.5px;
    background-color: var(--bg-card);
    border-radius: 22px;
    transition: 0.5s;
    max-width: 530px;
}

.about-carusel__item:hover {
    transform: scale(1.05);
}

/* .owl-theme .owl-dots .owl-dot {
    display: inline-block !important;
} */

.owl-carousel .owl-item img {
    width: auto;
}

.about-owner__name {
    color: var(--card-c);
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
}

.about-owner__comment {
    margin: 8px 0;
    color: var(--nav-link);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 18px;
    height: 18px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    border-color: var(--bg-corusel);
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: var(--bg-search);
}

.about-footer {
    position: relative;
    background-color: var(--bg-card);
    border-radius: 22px 22px 0 0;
    margin-top: 128px;
    width: 100%;
    height: 125px;
}

.about-foter__wrapper {
    position: absolute;
    bottom: 19px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.about-footer__main {
    width: 443px;
}

.about-footer__title {
    color: var(--card-c);
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
}

.about-footer__content {
    margin: 18px 0 12px;
    color: var(--nav-link);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
}

.about-footer__form {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    padding: 7.61px 9px;
    width: 100%;
    background-color: var(--white);
    border-radius: 15px;
}

.about-footer__input {
    outline: none;
    border: none;
    padding: 12.7px 10px 12.7px 20px;
    width: 100%;
    color: var(--input-pl);
    font-size: 16px;
    font-weight: 500;
    line-height: 20.08px;
    border-bottom: 1px solid transparent;
}

.about-footer__input ::placeholder {
    color: var(--input-pl);
    font-size: 16px;
    font-weight: 500;
    line-height: 20.08px;
}

.about-footer__input:focus {
    border-bottom: 1px solid var(--input-pl);
}

.about-footer__button {
    padding: 12px 5px;
    background-color: var(--bg-search);
    border: none;
    border-radius: 9px;
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    line-height: 20.08px;
    text-align: center;
    transition: 0.5s;
}

.about-footer__button:hover {
    box-shadow: inset 131px 5px 5px var(--bg-like);
}

/* footer start */

footer {
    padding: 23px 0;
    background-color: var(--bg-footer);
    padding: 0 auto;
}

.footer-container {
    width: 208px;
    margin: 0 auto;
}

.footer-link {
    color: var(--white);
}

/* back top */

#backtop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    background-color: var(--white);
    border: 2px solid var(--bg-search);
    border-radius: 15px;
    padding: 3px 0 0 3px;
    transition: 0.5s;
    z-index: 11;
    opacity: 0;
}

.backtop-show {
    opacity: 1 !important;
}

/* loading  */

.loading-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 111;
    background-color: #263038;
    }

.loader {
    position: relative;
    width: 108px;
    display: flex;
    justify-content: space-between;
}

.loader::after,
.loader::before {
    content: '';
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #FFF;
    background-image: radial-gradient(circle 14px, #0d161b 100%, transparent 0);
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: eyeMove 10s infinite, blink 10s infinite;
}

@keyframes eyeMove {

    0%,
    10% {
        background-position: 0px 0px
    }

    13%,
    40% {
        background-position: -15px 0px
    }

    43%,
    70% {
        background-position: 15px 0px
    }

    73%,
    90% {
        background-position: 0px 15px
    }

    93%,
    100% {
        background-position: 0px 0px
    }
}

@keyframes blink {

    0%,
    10%,
    12%,
    20%,
    22%,
    40%,
    42%,
    60%,
    62%,
    70%,
    72%,
    90%,
    92%,
    98%,
    100% {
        height: 48px
    }

    11%,
    21%,
    41%,
    61%,
    71%,
    91%,
    99% {
        height: 18px
    }
}

.loading-none {
    display: none;
}